.photo-frame{
    width:300px;
    border-width:5px solid blue;
    margin:10px;
    padding:15px;
}
.table{
    border:1px solid;
    padding:10px;
}
.table tr:nth-child(odd) {
    background-color: #f2f2f2; 
}
  
.table tr:nth-child(even) {
    background-color: #ffffff; 
}
.table th {
    background-color: #4CAF50; 
    color: white; 
    font-weight: bold; 
}
.profile {
    border-radius: 25px; 
    background-color: grey;
    width: 300px;
    height: 300px;
    padding: 20px;
    display:center;
  }
  .photo{
    object-fit:cover;
    border-radius:50%;
    width:100px;
    height:70px;
    margin-left:100px;
    display:center;
    align-items:center;
  }